In [1]:
import pandas as pd
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
from selenium import webdriver

dr = webdriver.Chrome('C:/Users/user/Desktop/I/python/crawling/chromedriver.exe') #dr = 웹창

In [2]:
url = "https://data.kma.go.kr/data/climate/selectDustRltmList.do?pgmNo=68"
dr.get(url)

In [23]:
for i in range(2,5) :
    print('a[title='+'"'+str(i) + "페이지"+'"]')

a[title="0페이지"]
a[title="1페이지"]
a[title="2페이지"]
a[title="3페이지"]
a[title="4페이지"]

In [60]:
dr.find_element_by_css_selector('a[title="2페이지"]').click()

In [7]:
tbl = dr.find_element_by_css_selector('table[class="bbsList table"]') 
tbd = tbl.find_element_by_css_selector('tbody')
trs = tbd.find_elements_by_css_selector('tr')

In [8]:
date = []
dust = []
for tr in trs :
    tds = tr.find_elements_by_css_selector('td')
    date.append(tds[2].text)
    dust.append(tds[3].text)

In [9]:
df = pd.DataFrame({'date':date,'dust':dust})
print(df.shape)
df.head(10)

(20, 2)

         date dust
0  2019-04-11   28
1  2019-04-12   50
2  2019-04-13   50
3  2019-04-14   37
4  2019-04-15   43
5  2019-04-16   47
6  2019-04-17   36
7  2019-04-18   42
8  2019-04-19   53
9  2019-04-20   41

In [10]:
df.to_csv('yellowDust2.csv',index=False)

In [ ]:
origi = [ "강남구","노원구"   "구로구"   "관악구"  "도봉구"   "중구"     "강서구"   "강북구"  "용산구"   "서대문구" "중랑구"   "종로구"  
[13] "동작구"   "송파구"   "금천구"   "동대문구"
[17] "마포구"   "성북구"   "성동구"   "영등포구"
[21] "광진구"   "강동구"   "은평구"   "양천구"  
[25] "서초구"]