In [1]:
import pandas as pd
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
from selenium import webdriver

dr = webdriver.Chrome('C:/Users/user/Desktop/I/python/crawling/chromedriver.exe') #dr = 웹창

In [3]:
dr.get(url)

In [23]:
for i in range(2,5) :
    print('a[title='+'"'+str(i) + "페이지"+'"]')

a[title="0페이지"]
a[title="1페이지"]
a[title="2페이지"]
a[title="3페이지"]
a[title="4페이지"]

In [60]:
dr.find_element_by_css_selector('a[title="2페이지"]').click()

In [29]:
tbl = dr.find_element_by_css_selector('table[class="bbsList table"]') 
tbd = tbl.find_element_by_css_selector('tbody')
trs = tbd.find_elements_by_css_selector('tr')

In [30]:
date = []
dust = []
for tr in trs :
    tds = tr.find_elements_by_css_selector('td')
    date.append(tds[2].text)
    dust.append(tds[3].text)

In [35]:
df = pd.DataFrame({'date':date,'dust':dust})
print(df.shape)
df.head(10)

(90, 2)

         date dust
0  2019-01-01   41
1  2019-01-02   38
2  2019-01-03   41
3  2019-01-04   77
4  2019-01-05   73
5  2019-01-06   47
6  2019-01-07   64
7  2019-01-08   44
8  2019-01-09   51
9  2019-01-10   61

In [34]:
df.to_csv('yellowDust.csv',index=False)