In [3]:
import pandas as pd
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup

url = 'https://data.kma.go.kr/climate/yellowDust/selectYellowDustDayChart.do?pgmNo=112'
req = Request(url)
res = urlopen(req)
html = res.read().decode('utf-8')

In [5]:
from selenium import webdriver

dr = webdriver.Chrome('C:/Users/user/Desktop/I/python/crawling/chromedriver.exe') #dr = 웹창

In [6]:
dr.get(url)

In [21]:
tbl = dr.find_element_by_css_selector('table[class="bbsList table"]') #먼저 table을 가져 옴

In [24]:
tbd = tbl.find_element_by_css_selector('tbody')

In [46]:
trs = tbd.find_elements_by_css_selector('tr')

In [49]:
for i in trs
    print(i.text)

108 서울 2019-01-01 41
108 서울 2019-01-02 38
108 서울 2019-01-03 41
108 서울 2019-01-04 77
108 서울 2019-01-05 73
108 서울 2019-01-06 47
108 서울 2019-01-07 64
108 서울 2019-01-08 44
108 서울 2019-01-09 51
108 서울 2019-01-10 61

In [29]:
tds = trs.find_element_by_css_selector('td')

In [55]:
cls = []
for tr in trs :
    tds = tr.find_elements_by_css_selector('td')
    for td in tds :
        cls.append(td.text)
    
print(cls)

['108', '서울', '2019-01-01', '41', '108', '서울', '2019-01-02', '38', '108', '서울', '2019-01-03', '41', '108', '서울', '2019-01-04', '77', '108', '서울', '2019-01-05', '73', '108', '서울', '2019-01-06', '47', '108', '서울', '2019-01-07', '64', '108', '서울', '2019-01-08', '44', '108', '서울', '2019-01-09', '51', '108', '서울', '2019-01-10', '61']

In [60]:
dr.find_element_by_css_selector('a[title="2페이지"]').click()