In [48]:
import requests
import pandas as pd
import json

key = "&TDCAccessKey=388cdd6f76962e4956e9caf8f6cd3841b6a8e2773b92629b01f02c80ba9187ce"
url = "https://api.bigdatahub.co.kr/v1/datahub/datasets/search.json?pid=1000908"
page = "&$page=3"
api = url + key + page

In [49]:
api

'https://api.bigdatahub.co.kr/v1/datahub/datasets/search.json?pid=1000908&TDCAccessKey=388cdd6f76962e4956e9caf8f6cd3841b6a8e2773b92629b01f02c80ba9187ce&$page=3'

In [50]:
res = requests.get(api)

In [59]:
j = res.json()
j

{'totalResult': 25,
 'page': '3',
 'count': 5,
 'entry': [{'시': '서울특별시',
   '구': '관악구',
   '경도': '126.947435',
   '위도': '37.464570000000002'},
  {'시': '서울특별시',
   '구': '서초구',
   '경도': '127.03324499999999',
   '위도': '37.470739999999999'},
  {'시': '서울특별시',
   '구': '강남구',
   '경도': '127.06533399999999',
   '위도': '37.493712000000002'},
  {'시': '서울특별시', '구': '송파구', '경도': '127.118003', '위도': '37.502167999999998'},
  {'시': '서울특별시', '구': '강동구', '경도': '127.149107', '위도': '37.547522000000001'}]}

In [19]:
j['entry'][0]

{'시': '서울특별시', '구': '종로구', '경도': '126.97942', '위도': '37.592128000000002'}

In [ ]:
key = "&TDCAccessKey=388cdd6f76962e4956e9caf8f6cd3841b6a8e2773b92629b01f02c80ba9187ce"
url = "https://api.bigdatahub.co.kr/v1/datahub/datasets/search.json?pid=1000908"
page = "&$page=3"
api = url + key + page

In [61]:
gu_t = list() ; lon_t = list() ; lan_t = list()
for p in range(3) : 
    page = "&$page=" + str(p+1)
    api = url + key + page
    res = requests.get(api)
    j = res.json()
    gu = list() ; lon = list() ; lan = list()
    for i in range(len(j['entry'])) :
        obs = j['entry'][i]
        gu.append(obs['구'])
        lon.append(obs['경도'])
        lan.append(obs['위도'])
    gu_t.extend(gu)
    lon_t.extend(lon)
    lan_t.extend(lan)

In [66]:
df = pd.DataFrame({"gu":gu_t,"lon":lon_t,"lan":lan_t})
print('number of obs :',df.shape[0]) # 25 이면 성공!
df.head()

number of obs : 25

    gu         lon                 lan
0  종로구   126.97942  37.592128000000002
1   중구  126.997985  37.557335000000002
2  용산구  126.981987           37.528582
3  성동구  127.043114            37.54824
4  광진구  127.088351           37.543059

In [63]:
df.to_csv('gu.csv',index=False)